.sidebar-link {
    transition: background-color 0.5s all ease;
}

.sidebar-link:hover {
    background-color: #0f0f0f;
}
.sidebar-button {
    transition: background-color 0.5s all ease !important;
}

.sidebar-button:hover {
    background-color: #0f0f0f !important;
}
